<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Realtime</title>
   <link rel="stylesheet" href="css/descriptions.css">
</head>
<body>

   <div class="header">
       <div class="fields-container">
         <input class="field" id="action">
         <br>
         <input class="field" id="description">
         <br>
         <button>Save</button>
        </div>
   <div class="page-links-container">
     <a class="page-links" href="#">Realtime</a>
      <a class="page-links" href="#">Projects</a>
      <a class="page-links" href="#">Rating</a>
      <a class="page-links" href="#">Descriptions</a>
      <a class="page-links" href="#">Log out</a>
    </div>
   </div>
   <div class="wrapper">
      <table>
         <tr>
            <td class="item fixed">Action</td>
            <td class="item"></td>
            <td class="item">Description</td>
            <td class="item"></td>
            <td class="item">Delete</td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item"><button>/</button></td>
            <td class="item">22222</td>
            <td class="item"><button>/</button></td>
            <td class="item"><button>del</button></td>
         </tr>

      </table>
   </div>
   
</body>
</html>