<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Realtime</title>
   <link rel="stylesheet" href="css/projects.css">
</head>
<body>
<div class="content">
    <div id="left-side-block">
<h4>Choose the project</h4>
<input class="field" id="description">
         <button>P</button>
<center><button class="centered">+</button></center>
<br>
<table>
    <tr>
        <td>11111</td>
        <td class="left-side-block-table-buttons"><button>3</button><button>2</button><button>1</button></td>
     </tr>
     <tr>
        <td>22222</td>
        <td class="left-side-block-table-buttons"><button>3</button><button>2</button><button>1</button></td>
     </tr>
     <tr>
        <td>33333</td>
        <td class="left-side-block-table-buttons"><button>3</button><button>2</button><button>1</button></td>
     </tr>
     <tr>
        <td>44444</td>
        <td class="left-side-block-table-buttons"><button>3</button><button>2</button><button>1</button></td>
     </tr>
     <tr>
        <td>55555</td>
        <td class="left-side-block-table-buttons"><button>3</button><button>2</button><button>1</button></td>
     </tr>

 </table>
    </div>
    <div id="right-side-block">

   <div class="header">
       <div class="fields-container">
         <input class="field" id="action">
         <br>
         <input class="field" id="description">
         <br>
         <button>Save</button>
         
        </div>
   <div class="page-links-container">
     <a class="page-links" href="#">Realtime</a>
      <a class="page-links" href="#">Projects</a>
      <a class="page-links" href="#">Rating</a>
      <a class="page-links" href="#">Descriptions</a>
      <a class="page-links" href="#">Log out</a>
    </div>
   </div>
   <div class="wrapper">
      <table>
         <tr>
            <td class="item fixed">Action</td>
            <td class="item">Description</td>
            <td class="item">Points</td>
            <td class="item">Delete</td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>
         <tr>
            <td class="item">11111</td>
            <td class="item">22222</td>
            <td class="item"><input type="text"></td>
            <td class="item"><button>del</button></td>
         </tr>

      </table>
   </div>
</div>
</div>
</body>
</html>