<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Realtime</title>
   <link rel="stylesheet" href="css/rating.css">
</head>
<body>

   <div class="header">
         <input id="request">
         <button>P</button>
         
   <div class="page-links-container">
     <a class="page-links" href="#">Realtime</a>
      <a class="page-links" href="#">Projects</a>
      <a class="page-links" href="#">Rating</a>
      <a class="page-links" href="#">Descriptions</a>
      <a class="page-links" href="#">Log out</a>
    </div>
   </div>
   <div class="wrapper">
      <table>
         <tr>
            <td class="item fixed">Login</td>
            <td class="item">Summary</td>
            <td class="item">Project ID</td>
            <td class="item">Login</td>
            <td class="item">Device ID</td>
            <td class="item">Device name</td>
            <td class="item">Country</td>
         </tr>
         <tr>
            <td class="item fixed">1</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">2</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">3</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">4</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">5</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">6</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">7</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">8</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">9</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">10</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">11</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">12</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">13</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">14</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>
         <tr>
            <td class="item fixed">15</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
         </tr>

      </table>
   </div>
   
</body>
</html>