<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>Realtime</title>
   <link rel="stylesheet" href="css/realtime.css">
</head>
<body>
   <div class="wrapper">
      <table>
         <tr>
            <td class="item fixed">Event ID</td>
            <td class="item">Status</td>
            <td class="item">Error</td>
            <td class="item">IP</td>
            <td class="item">Project ID</td>
            <td class="item">OS</td>
            <td class="item">Verified by client</td>
            <td class="item">Verified by backend</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">1</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">2</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">3</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">4</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">5</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">6</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">7</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">8</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">9</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">10</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">11</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">12</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">13</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">14</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>
         <tr>
            <td class="item fixed">15</td>
            <td class="item">succeed</td>
            <td class="item">404</td>
            <td class="item">127.0.0.1</td>
            <td class="item">1</td>
            <td class="item">Android</td>
            <td class="item">true</td>
            <td class="item">false</td>
            <td class="item">Time</td>
            <td class="item">Name</td>
            <td class="item">Description</td>
            <td class="item">Revenue</td>
            <td class="item">Category</td>
         </tr>

      </table>
   </div>
   
</body>
</html>