<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Welcome</title>
        <link rel="stylesheet" href="welcome.css">
    </head>
    <body>
        
        <center>
            <div id="content">
        <h1>Welcome back, Vyacheslav</h1>
        <h2>Sign in to your account to continue</h2>
        <div>
            <h3>Email</h3>
            <input class="input-field" placeholder="Enter your email"/>
            
            <h3>Password</h3>
            <input class="input-field" type="password" placeholder="Enter your password"/>

            <h4><a>Forgot your password?</a></h4>
            <input type="checkbox"  id="remember"> 
            <label for="remember">Remember me next time</label>
            <br>
            <button>Sign In</button>
        </div>
        
    </div>
</center>
    </body>
</html>